In [56]:
import numpy as np
import pandas as pd
import os
import argparse
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import time

In [2]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras.layers import Input, concatenate, Embedding, Reshape
from keras.layers import Merge, Flatten, merge, Lambda, Dropout
from keras.layers.normalization import BatchNormalization
from keras.models import Model
from keras.regularizers import l2, l1_l2
import tensorflow as tf

/Users/BharathiSrinivasan/anaconda2/envs/python36/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [20]:
myfolder = '/Users/BharathiSrinivasan/Documents/HU-MEMS-Sem3/Info_Systems/repo/Recommender_DNN/Data/'
train = pd.read_csv(myfolder + 'bigtrain.csv')
test = pd.read_csv(myfolder + 'bigtest.csv')

#To Do : Include this in pre-processing dataset while creating bigtrain and bigtest
#train.dropna()
#test.dropna()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle_id,department_id
0,2445303,49302,2,1,199120,1,49,3,20,7,120,16
1,3231517,49302,6,1,63189,1,42,2,13,7,120,16
2,214201,11109,3,1,131593,1,42,6,14,6,108,16
3,332153,11109,3,1,29758,1,38,1,14,8,108,16
4,583113,11109,8,1,4486,1,35,4,8,24,108,16
5,687429,11109,4,1,23092,1,51,1,11,12,108,16
6,739022,11109,26,0,103264,1,28,0,9,12,108,16
7,763067,11109,8,1,171666,1,49,4,11,6,108,16
8,883854,11109,2,1,89088,1,44,6,11,0,108,16
9,995322,11109,11,0,151424,1,28,0,14,16,108,16
10,999068,11109,1,0,107820,1,42,1,7,30,108,16
11,1033471,11109,20,0,194758,1,33,1,10,19,108,16
12,1048369,11109,12,0,113022,1,45,4,8,30,108,16
13,1080121,11109,15,1,191250,1,63,2,15,5,108,16
14,1083650,11109,5,1,63409,1,40,3,16,3,108,16
15,1096015,11109,22,1,185443,1,61,5,11,7,108,16
16,1104263,11109,13,1,107979,1,56,4,15,0,108,16
17,1161224,11109,4,1,32111,1,35,4,9,10,108,16
18,1164874,11109,6,1,161412,1,39,6,14,8,108,16
19,1207554,11109,3,1,58386,1,44,4,10,18,108,16
20,1408967,11109,3,0,43511,1,31,5,15,6,108,16
21,1693423,11109,10,1,92998,1,32,4,13,8,108,16
22,1700328,11109,26,0,147626,1,61,2,12,20,108,16
23,1838673,11109,8,1,80971,1,27,6,19,12,108,16
24,1874211,11109,6,1,32756,1,43,3,10,7,108,16
25,1904854,11109,11,1,180289,1,44,0,11,5,108,16
26,1984634,11109,11,1,69534,1,44,2,11,7,108,16
27,2134172,11109,2,1,83529,1,35,2,12,15,108,16
28,2264496,11109,4,1,147377,1,38,0,10,7,108,16
29,2484958,11109,13,1,107972,1,67,0,19,4,108,16
...,...,...,...,...,...,...,...,...,...,...,...,...
259771,3317587,28467,7,1,173214,1,27,5,13,24,38,1
259772,3317920,37433,20,0,144049,1,33,0,23,3,97,13
259773,3317920,11120,28,0,144049,1,33,0,23,3,3,19
259774,3319218,27557,5,0,22442,1,28,2,15,30,8,3
259775,3377445,35116,8,0,26508,1,28,1,10,15,37,1
259776,3329084,20462,33,0,22273,1,93,5,17,3,94,7
259777,3338296,29643,12,1,170771,1,100,3,18,0,25,11
259778,3340012,17161,15,0,67014,1,30,6,1,7,104,13
259779,3340567,9319,1,0,115970,1,52,0,10,3,65,11
259780,3343977,9479,5,0,185289,1,52,4,17,17,13,20
259781,3344362,42725,15,1,81329,1,34,4,11,7,47,11
259782,3348043,3825,22,1,25464,1,29,0,22,13,120,16
259783,3352553,43166,10,0,33586,1,37,6,14,28,118,11
259784,3354607,7256,5,0,107650,1,37,1,15,5,120,16
259785,3359575,23664,3,0,101808,1,28,5,19,30,92,18
259786,3360855,23878,6,1,5824,1,29,3,11,5,27,5
259787,3369414,38646,19,1,194136,1,32,2,20,7,100,21
259788,3371257,23751,2,1,39182,1,33,4,13,0,51,13
259789,3375552,27906,17,1,197390,1,28,0,16,6,134,5
259790,3376312,36233,6,0,145958,1,34,4,7,6,100,21
259791,3378901,9277,1,1,103646,1,36,0,16,6,25,11
259792,3378969,33864,3,1,104694,1,34,6,16,6,125,19
259793,3378969,18238,12,1,104694,1,34,6,16,6,69,15
259794,3392896,2381,31,0,173435,1,37,0,14,2,76,6
259795,3406922,21320,2,1,134432,1,32,4,9,8,98,7
259796,3410985,16660,8,0,38495,1,97,0,8,4,108,16
259797,3412026,17782,4,1,10241,1,89,1,10,4,112,3
259798,3412296,38082,10,0,17315,1,59,3,15,2,10,17
259799,3413648,618,15,1,20017,1,44,6,4,7,98,7
259800,3414341,36532,41,1,32726,1,30,2,22,13,81,15

In [42]:
train['IS_TRAIN'] = 1
test['IS_TRAIN'] = 0
#df = pd.concat([train, test],ignore_index=True)
df = train

In [43]:
#PRE-PROCESSING
y = df['reordered'].values
df.pop('reordered')

0           0
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
           ..
16587477    1
16587478    1
16587479    1
16587480    1
16587481    1
16587482    1
16587483    1
16587484    0
16587485    1
16587486    1
16587487    0
16587488    0
16587489    0
16587490    0
16587491    0
16587492    0
16587493    0
16587494    0
16587495    0
16587496    1
16587497    0
16587498    0
16587499    1
16587500    0
16587501    0
16587502    0
16587503    0
16587504    0
16587505    0
16587506    0
Name: reordered, Length: 16587507, dtype: int64

In [44]:
CATEGORICAL_COLUMNS = ["order_dow", "order_hour_of_day"]
CONTINUOUS_COLUMNS = [ "user_orders", "order_number", "add_to_cart_order"]

#One-hot encoding categorical columns
df = pd.get_dummies(df, columns=[x for x in CATEGORICAL_COLUMNS])

In [45]:
#To Do : Include this in pre-processing dataset while creating bigtrain and bigtest
df.drop(['eval_set'],axis=1)

,user_id,user_orders,order_id,order_number,days_since_prior_order,product_id,add_to_cart_order,aisle_id,department_id,IS_TRAIN,...,order_hour_of_day_14,order_hour_of_day_15,order_hour_of_day_16,order_hour_of_day_17,order_hour_of_day_18,order_hour_of_day_19,order_hour_of_day_20,order_hour_of_day_21,order_hour_of_day_22,order_hour_of_day_23
0,17,40,1737705,1,30,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
1,17,40,1681401,2,3,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
2,17,40,2680214,3,5,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
3,17,40,3237467,5,5,7350,1,115,7,1,...,0,0,0,1,0,0,0,0,0,0
4,17,40,2616505,6,5,7350,2,115,7,1,...,0,0,0,1,0,0,0,0,0,0
5,17,40,2648319,7,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
6,17,40,2430354,8,6,7350,1,115,7,1,...,0,1,0,0,0,0,0,0,0,0
7,17,40,900554,10,4,7350,1,115,7,1,...,0,1,0,0,0,0,0,0,0,0
8,17,40,805025,11,4,7350,2,115,7,1,...,0,1,0,0,0,0,0,0,0,0
9,17,40,912404,12,5,7350,1,115,7,1,...,1,0,0,0,0,0,0,0,0,0
10,17,40,1389057,13,6,7350,2,115,7,1,...,0,0,0,0,0,0,0,0,0,0
11,17,40,603534,14,5,7350,1,115,7,1,...,0,0,0,1,0,0,0,0,0,0
12,17,40,2660930,15,3,7350,1,115,7,1,...,0,0,1,0,0,0,0,0,0,0
13,17,40,1719551,16,6,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
14,17,40,601444,17,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,1,0,0
15,17,40,2956367,18,8,7350,4,115,7,1,...,0,0,0,0,0,0,0,0,0,0
16,17,40,2508834,19,6,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
17,17,40,415389,20,7,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
18,17,40,3141030,21,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
19,17,40,3069802,23,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,1
20,17,40,1683378,24,5,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
21,17,40,2795254,25,6,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
22,17,40,343199,26,5,7350,1,115,7,1,...,0,0,0,1,0,0,0,0,0,0
23,17,40,3314059,28,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
24,17,40,697863,29,5,7350,1,115,7,1,...,1,0,0,0,0,0,0,0,0,0
25,17,40,2760791,32,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,1,0
26,17,40,2553089,33,9,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
27,17,40,791858,34,16,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
28,17,40,2773605,35,8,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
29,17,40,674977,36,30,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16587477,205213,48,1531206,29,7,11279,3,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587478,205213,48,206941,30,5,11279,8,112,3,1,...,0,0,0,0,0,0,0,0,0,1
16587479,205213,48,3249973,31,10,11279,6,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587480,205213,48,2631499,32,5,11279,2,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587481,205213,48,1530209,33,10,11279,12,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587482,205213,48,2058972,34,11,11279,4,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587483,205213,48,2444485,44,7,11279,16,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587484,205213,48,133095,24,8,27492,21,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587485,205213,48,2194450,28,7,27492,4,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587486,205213,48,3249973,31,10,27492,16,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587487,205213,48,1780953,40,9,476,25,95,15,1,...,0,0,0,0,0,0,0,0,0,0
16587488,205213,48,2244275,45,3,43935,11,106,12,1,...,0,0,0,1,0,0,0,0,0,0
16587489,205237,99,2029262,76,3,38493,24,40,8,1,...,0,0,0,0,0,0,0,0,0,0
16587490,205640,47,272635,44,7,17098,18,89,13,1,...,0,0,0,0,0,0,0,0,0,0
16587491,205777,26,1466072,26,30,13154,12,100,21,1,...,0,0,0,0,0,0,1,0,0,0
16587492,205799,26,2527696,5,9,19552,5,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587493,205856,28,3036149,14,13,11787,11,30,6,1,...,0,0,0,0,0,0,0,0,0,0
16587494,205868,33,2853663,31,22,40033,21,43,3,1,...,0,0,0,0,0,0,0,0,0,0
16587495,205888,29,3371747,4,2,43095,6,47,11,1,...,0,1,0,0,0,0,0,0,0,0
16587496,205888,29,584137,5,5,43095,3,47,11,1,...,0,0,0,0,0,0,0,0,0,0
16587497,205888,29,1404427,27,4,29984,5,26,7,1,...,0,0,0,1,0,0,0,0,0,0
16587498,205915,29,400387,14,7,35447,9,54,17,1,...,0,0,1,0,0,0,0,0,0,0
16587499,205915,29,1799151,15,1,35447,7,54,17,1,...,0,0,0,0,0,0,0,0,0,0
16587500,205915,29,982455,21,9,4403,7,100,21,1,...,0,0,0,1,0,0,0,0,0,0
16587501,206051,37,113980,11,8,2060,10,61,19,1,...,0,1,0,0,0,0,0,0,0,0
16587502,206123,28,1804216,27,7,1899,11,83,4,1,...,0,0,0,0,0,0,0,0,0,0
16587503,206165,27,2271861,2,8,18015,20,40,8,1,...,0,0,0,0,0,0,0,0,0,0
16587504,206165,27,620298,12,0,1791,28,30,6,1,...,0,0,1,0,0,0,0,0,0,0
16587505,206165,27,360804,20,22,13862,17,6,2,1,...,0,0,1,0,0,0,0,0,0,0
16587506,206165,27,2605138,26,10,1381,28,127,11,1,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df[df==np.inf]=np.nan
df.dropna()
np.all(np.isfinite(df))
#df[np.isfinite(df) | np.isnan(df)]

True

In [47]:
df.reset_index()
df = pd.DataFrame(MinMaxScaler().fit_transform(df), columns=df.columns)
X = df.values

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [51]:
#Wide: Linear Model
wide = Sequential()
wide.add(Dense(1, input_dim=X_train.shape[1]))

In [52]:
#Deep Neural Network with 2 hidden layers of 100 and 50 neurons
deep = Sequential()
# TODO: add embedding
deep.add(Dense(input_dim=X_train.shape[1], output_dim=100, activation='relu'))
deep.add(Dense(100, activation='relu'))
deep.add(Dense(50, activation='relu'))
deep.add(Dense(1, activation='sigmoid'))

/Users/BharathiSrinivasan/anaconda2/envs/python36/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=42, activation="relu", units=100)`
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
#Wide + Deep
model = Sequential()
model.add(Merge([wide, deep], mode='concat', concat_axis=1))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=['accuracy'])

/Users/BharathiSrinivasan/anaconda2/envs/python36/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  This is separate from the ipykernel package so we can avoid doing imports until

In [58]:
t0=time.time()
model.fit([X_train, X_train], y_train, nb_epoch=10, batch_size=32)
print("training time:", round(time.time()-t0, 3), "s")

/Users/BharathiSrinivasan/anaconda2/envs/python36/lib/python3.6/site-packages/keras/models.py:944: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/10
12440630/12440630 [==============================] - 902s 73us/step - loss: 0.5346 - acc: 0.7506
Epoch 2/10
12440630/12440630 [==============================] - 867s 70us/step - loss: 0.5368 - acc: 0.7512
Epoch 3/10
12440630/12440630 [==============================] - 803s 65us/step - loss: 0.5388 - acc: 0.7511
Epoch 4/10
12440630/12440630 [==============================] - 836s 67us/step - loss: 0.5400 - acc: 0.7510
Epoch 5/10
12440630/12440630 [==============================] - 800s 64us/step - loss: 0.5420 - acc: 0.7506
Epoch 6/10
12440630/12440630 [==============================] - 814s 65us/step - loss: 0.5432 - acc: 0.7502
Epoch 7/10
12440630/12440630 [==============================] - 832s 67us/step - loss: 0.5455 - acc: 0.7500
Epoch 8/10
12440630/12440630 [==============================] - 860s 69us/step - loss: 0.5463 - acc: 0.7498
Epoch 9/10
12440630/12440630 [==============================] - 840s 68us/step - loss: 0.5477 - acc: 0.7489
Epoch 10/10
12440630/12440630 [==============================] - 966s 78us/step - loss: 0.5520 - acc: 0.7480
training time: 8522.128 s

In [59]:
loss, accuracy = model.evaluate([X_test, X_test], y_test)
print('\n', 'test accuracy:', accuracy)

4146877/4146877 [==============================] - 121s 29us/step

 test accuracy: 0.7483245825715008

In [60]:
# serialize model to JSON
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("wide_deep1.h5")
print("Saved model to disk")

Saved model to disk

In [62]:
""""
#Later
# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")
"""""

'"\n#Later\n# load json and create model\njson_file = open(\'model.json\', \'r\')\nloaded_model_json = json_file.read()\njson_file.close()\nloaded_model = model_from_json(loaded_model_json)\n# load weights into new model\nloaded_model.load_weights("model.h5")\nprint("Loaded model from disk")\n'